<div id="<%= dom_id service %>" class='rounded-xl py-4 px-2 my-4'>
  <div class='flex flex-col bg-gradient-to-b from-slate-700 to-slate-950 rounded-lg px-4 py-4 shadow-xl'>
    <p class="">
      <strong class="block font-medium">Nombre:</strong>
      <%= service.name %>
    </p>
    <hr/>
    <p class="">
      <strong class="block font-medium">Nombre:</strong>
      <%= service.duration %>
    </p>
    <hr/>
    <p class="">
      <strong class="block font-medium">Descripcion:</strong>
      <%= service.description %>
    </p>
    <hr/>
    <p class="">
      <strong class="block font-medium">Precio:</strong>
      $ <%= service.price %>
    </p>
    <hr/>
    <p class="">
      <strong class="block font-medium">Comision:</strong>
      $ <%= service.commission %>
    </p>
  </div>

  <% if action_name != "show" %>
    <%= link_to "Ver servicio", service, class: "rounded-lg py-3 px-5 bg-blue-600 inline-block font-medium" %>
    <%= link_to "Editar servicio", edit_service_path(service), class: "rounded-lg py-3 ml-2 px-5 bg-blue-600 inline-block font-medium" %>
  <% end %>
</div>
