<%= form_with(model: meeting, class: "contents") do |form| %>
  <% if meeting.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(meeting.errors.count, "error") %> impiden guardar la cita:</h2>

      <ul>
        <% meeting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5 shadow-2xl bg-gray-100 rounded-lg p-4">
    <%= form.label 'Inicia' %>
    <%= form.datetime_field :start_time, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5 shadow-2xl bg-gray-100 rounded-lg p-4">
    <%= form.label 'Termina' %>
    <%= form.datetime_field :end_time, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5 shadow-2xl bg-gray-100 rounded-lg p-4">
    <%= form.label 'Servicio' %>
    <%= form.select :service_id, Service.order(:name).collect { |service| [service.name, service.id] }, {}, { class: 'rounded-lg w-full' } %>
  </div>

  <div class="my-5 shadow-2xl bg-gray-100 rounded-lg p-4">
    <%= form.label 'Cliente' %>
    <%= form.select :client_id, Client.order(:name).collect { |client| [client.name, client.id] }, {}, { class: 'rounded-lg w-full' } %>
  </div>

  <div class="my-5 shadow-2xl bg-gray-100 rounded-lg p-4">
    <%= form.label 'Estilista' %>
    <%= form.select :stylist_id, Stylist.order(:name).collect { |stylist| [stylist.name, stylist.id] }, {}, { class: 'rounded-lg w-full' } %>
  </div>

  <div class="inline">
    <%= form.submit 'Enviar', class: "rounded-lg py-3 px-5 bg-gradient-to-b from-green-700 to-green-950 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
