<div id="<%= dom_id meeting %>" class="rounded-xl bg-gray-800 shadow-lg py-4 px-4 my-4">
  <div class="rounded-xl p-4 bg-gradient-to-b from-gray-700 to-gray-900 text-gray-100 shadow-md">
    <div class="text-center text-lg font-bold mb-4">
      <p><%= meeting.service.name %></p>
    </div>

    <div class="flex flex-col gap-2 my-4 items-center">
  <div class="rounded-full border-2 border-blue-600 p-2">
    <%= heroicon 'user', variant: :outline, options: { class: 'w-6 h-6 text-gray-100' } %>
  </div>
  <p class="font-bold text-center"><%= meeting.client.name %></p>
  <%= link_to "https://wa.me/#{meeting.client.phone}?text=#{CGI.escape("Hola, #{meeting.client.name}! Solo queríamos recordarte que tienes una cita con tu estilista, #{meeting.stylist.name}, para un #{meeting.service.name} el #{meeting.start_time.strftime("%A, %d %b %Y")} a las #{meeting.start_time.strftime("%l:%M %p")}. Estamos emocionados de verte en ese momento!")}", target: "_blank", class: 'bg-gradient-to-b from-blue-700 to-blue-950 px-4 py-2 rounded-md flex items-center justify-center shadow-md hover:bg-blue-700 text-white' do %>
    <%= heroicon 'share', variant: :outline, options: { class: 'w-4 h-4 mr-2' } %>
    Compartir cita
  <% end %>

</div>


    <div class="flex gap-2 items-center justify-center my-4 border rounded-xl p-2">
      <div class="rounded-full bg-red-800 p-2">
        <%= heroicon 'calendar', variant: :outline, options: { class: 'w-6 h-6 text-gray-100' } %>
      </div>
      <span class="font-bold"><%= meeting.start_time.strftime("%A, %d %b %Y") %></span>
    </div>

    <div class="flex gap-4 my-4 items-center">
      <div class="rounded-full bg-green-800 p-2">
        <%= heroicon 'arrow-up', variant: :outline, options: { class: 'w-6 h-6 text-gray-100' } %>
      </div>
      <p class="font-bold"><%= meeting.start_time.strftime("%l:%M %p") %></p>
    </div>
    <hr/>
    <div class="flex gap-4 my-4 items-center">
      <div class="rounded-full bg-red-800 p-2">
        <%= heroicon 'arrow-down', variant: :outline, options: { class: 'w-6 h-6 text-gray-100' } %>
      </div>
      <p class="font-bold"><%= meeting.end_time.strftime("%l:%M %p") %></p>
    </div>
    <hr/>
    <div class="flex gap-4 my-4 items-center">
      <div class="rounded-full bg-fuchsia-600 p-2">
        <%= heroicon 'scissors', variant: :outline, options: { class: 'w-6 h-6 text-gray-100' } %>
      </div>
      <p class="font-bold"><%= meeting.stylist.name %></p>
    </div>

    <% if action_name != "show" %>
      <div class="flex justify-center mt-6">
        <%= link_to "Ver cita", meeting, class: "rounded-lg py-3 px-5 bg-blue-600 text-white font-medium hover:bg-blue-700 transition duration-300" %>
        <%= link_to "Editar cita", edit_meeting_path(meeting), class: "rounded-lg py-3 ml-2 px-5 bg-blue-600 text-white font-medium hover:bg-blue-700 transition duration-300" %>
      </div>
    <% end %>
  </div>
</div>

