<div class="w-full lg:w-1/2 mx-auto mb-16">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center mb-4">
    <h1 class="font-bold text-4xl text-slate-100">Citas</h1>
    <%= link_to "Agendar", new_meeting_path, class: "rounded-lg bg-gradient-to-b from-green-700 to-green-950 text-green-100 shadow-2xl py-3 px-5 block font-medium" %>
  </div>

  <%= week_calendar(events: @meetings) do |date, meetings| %>
    <% meetings.each do |meeting| %>
      <div class="w-full">
        <%= link_to meeting do %>
          <div class="flex flex-col p-4 rounded-xl my-4 bg-green-900 shadow-md">
            <div class="flex items-center mb-2">
              <span class="mr-2">
                <%= heroicon 'calendar', variant: :outline, options: { class: 'w-6 h-6 text-slate-100' } %>
              </span>
              <%= meeting.start_time.strftime("%l:%M %P") %> a <%= meeting.end_time.strftime("%l:%M %P") %>
            </div>

            <div class="flex items-center mb-2">
              <span class="mr-2">
                <%= heroicon 'user', variant: :outline, options: { class: 'w-6 h-6 text-slate-100' } %>
              </span>
              <%= meeting.client.name %>
            </div>

            <div class="flex items-center">
              <span class="mr-2">
                <%= heroicon 'sparkles', variant: :outline, options: { class: 'w-6 h-6 text-slate-100' } %>
              </span>
              <%= meeting.service.name %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
 
