<div id="<%= dom_id client %>" class='flex flex-col gap-4 rounded-xl bg-slate-700 shadow-2xl py-4 px-4 my-4'>
  <p class="rounded-xl p-4 shadow-2xl bg-gradient-to-b from-slate-600 to-slate-950 shadow-2xl text-slate-100">
    <strong class="block font-medium mb-1">Nombre:</strong>
    <%= client.name %>
  </p>

  <p class="rounded-xl p-4 shadow-2xl bg-gradient-to-b from-slate-600 to-slate-950 shadow-2xl text-slate-100">
    <strong class="block font-medium mb-1">Fecha de nacimiento:</strong>
    <%= client.birthday.strftime("%d/%b/%Y") if client.birthday.present? %>
  </p>

  <p class="rounded-xl shadow-2xl bg-gradient-to-b from-slate-600 to-slate-950 shadow-2xl text-slate-100 p-4">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= number_to_phone(client.phone, area_code: true) %>
  </p>

  <p class="rounded-xl shadow-2xl bg-gradient-to-b from-slate-600 to-slate-950 shadow-2xl text-slate-100 p-4">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= client.email %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Ver cliente", client, class: "rounded-lg py-3 px-5 bg-blue-600 inline-block font-medium" %>
    <%= link_to "Editar cliente", edit_client_path(client), class: "rounded-lg py-3 ml-2 px-5 bg-blue-600 inline-block font-medium" %>
  <% end %>
</div>
