<%= form_with(model: client, class: "contents") do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(client.errors.count, "error") %> impidieron guardar el cliente:</h2>

      <ul>
        <% client.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5 border rounded-lg p-4">
    <%= form.label 'Nombre', class: 'text-slate-100' %>
    <%= form.text_field :name, class: "block shadow rounded-md bg-slate-700 text-slate-100 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5 border rounded-lg p-4">
    <%= form.label 'Telefono', class: 'text-slate-100' %>
    <%= form.text_field :phone, class: "block rounded-md border bg-slate-700 text-slate-100 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  
  <div class="my-5 border rounded-lg p-4">
    <%= form.label 'Fecha de Nacimiento', class: 'text-slate-100' %>
    <%= form.date_field :birthday, class: "block bg-slate-500 rounded-lg text-slate-100 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5 border rounded-lg p-4">
    <%= form.label :email, class: 'text-slate-100' %>
    <%= form.text_field :email, class: "block shadow rounded-md border bg-slate-700 text-slate-100 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit 'Enviar', class: "rounded-lg py-3 px-5 bg-gradient-to-b from-green-700 to-green-950 text-green-100 inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
