<div class="w-full lg:w-1/2 mx-auto">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl text-slate-100">Clientes</h1>
    <%= link_to "Nuevo Cliente", new_client_path, class: "rounded-lg py-3 px-5 bg-gradient-to-b from-green-700 to-green-950 text-white block font-medium" %>
  </div>

  <div id="clients" class="flex flex-col gap-2 min-w-full mb-16 text-slate-100 bg-slate-600 p-2 my-2 rounded-xl">
    <% @clients.each do |client| %>
      <%= link_to client do %>
        <div class='flex items-center gap-2 p-2 font-bold'>
          <span class='bg-green-800 rounded-full p-2'><%= heroicon 'user-circle', variant: :outline, options: {class: 'w-6 h-6 text-slate-100'}%></span>
          <p class="font-bold text-md"><%= client.name %></p>
          <span class='p-2 ml-auto'><%= heroicon 'chevron-right', variant: :outline, options: {class: 'w-6 h-6 text-slate-100'}%></span>
        </div>
        <hr/>
      <% end %>
    <% end %>
  </div>
</div>
