<div class="mx-auto md:w-2/3 w-full flex bg-slate-700 rounded-lg px-2 pb-4 shadow-lg">
  <div class="mx-auto w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div class='flex justify-between w-1/2 ml-2 mt-4'>
      <p class='font-bold'><%= link_to '<-', clients_path %></p>
      <p class=''>Cliente</p>
    </div>

    <%= render @client %>

    <%= link_to "Editar Cliente", edit_client_path(@client), class: "mt-2 rounded-lg py-3 px-5 bg-gradient-to-b from-green-700 to-green-950 text-green-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Eliminar", client_path(@client), method: :delete, data: {turbo_confirm: 'Seguro?'}, class: "mt-2 rounded-lg py-3 px-5 bg-gradient-to-b from-red-700 to-red-950 text-red-100 font-medium" %>
    </div>
    <%= link_to "<- Regresar", clients_path, class: "mt-3 ml-2 rounded-lg py-3 px-5 bg-gradient-to-b from-slate-100 to-slate-400 text-slate-950 inline-block font-medium" %>
    </div>
  </div>
</div>
