<div id="<%= dom_id stylist %>" class='bg-slate-800 rounded-xl py-4 px-2 my-4'>
  <p class="my-5">
    <strong class="block font-medium mb-1">Nombre:</strong>
    <%= stylist.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Tel:</strong>
    <%= stylist.phone %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Ver estilista", stylist, class: "rounded-lg py-3 px-5 bg-blue-600 inline-block font-medium" %>
    <%= link_to "Editar estilista", edit_stylist_path(stylist), class: "bg-blue-600 rounded-lg py-3 ml-2 px-5 inline-block font-medium" %>
  <% end %>
</div>
