<div class="w-full lg:w-1/2 mx-auto">
  <% if notice.present? %>
    <div class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">
      <%= notice %>
    </div>
  <% end %>

  <div class="flex justify-between items-center mb-8">
    <h1 class="font-bold text-4xl text-slate-100">Estilistas</h1>
    <%= link_to "Nuevo estilista", new_stylist_path, class: "rounded-lg py-3 px-6 bg-gradient-to-b from-green-700 to-green-950 text-white block font-medium shadow-md hover:shadow-lg transition duration-300" %>
  </div>

  <div id="stylists" class="grid gap-4">
    <% @stylists.each do |stylist| %>
      <%= link_to stylist, class: "block bg-slate-700 rounded-lg p-4 text-slate-100 hover:bg-slate-800 transition duration-300" do %>
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-4">
            <span class="bg-green-800 rounded-full p-2">
              <%= heroicon 'scissors', variant: :outline, options: { class: 'w-8 h-8 text-slate-100' } %>
            </span>
            <p class="font-bold text-lg"><%= stylist.name %></p>
          </div>
          <span class="p-2">
            <%= heroicon 'chevron-right', variant: :outline, options: { class: 'w-8 h-8 text-slate-100' } %>
          </span>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

