<!DOCTYPE html>
<html>
  <head>
    <title>Studio96ls</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class='h-screen bg-slate-900 text-slate-100 mb-16'>
    <main class="mx-auto mt-16 px-5 flex flex-col ">
       <%= notice %>
       <%= alert %>
      <div>
        <%= yield %>
      </div>
    </main>
    <%= render 'layouts/nav' %>
  </body>
</html>
